.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Meditation Style*/

.meditation-container {
  margin: 0 auto;
  text-align: center;
}
.meditation-message {
  padding-bottom: 1.5em;
}

.meditation-timeContainer {
  margin: 60px 0;
}

.meditation-displayTime {
  border: 2px solid #ccc;
  font-size: 2em;
  padding: 50px 30px;
}
.meditation-btn {
  width: 25%;
  padding: 20px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  background-color: #61dafb;
  font-size: 1.3em;
  color: white;
  cursor: pointer;
  transition: color 0.3s, background-color 0.3s;
}

.meditation-btn:hover {
  background-color: #ffffff;
  color: #ccc;
  border: 2px solid #61dafb;
}

.meditation-enterMinutes {
  margin-bottom: 30px;
  padding: 20px;
  font-size: 1em;
  width: 45%;
  border: 2px solid #ccc;
}
